.header{
    background-color: #fff;
    padding: 20px 0;

    .headerContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 10px;
    }

    .headerLogo{
        display: flex;
        flex-direction: column;
        gap: 5px;
        a{
            text-decoration: none;
        }
        span{
            font-size: 32px;
            font-weight: 700;
            a{
                color: rgb(44, 168, 91);
            }
            @media (max-width:420px) {
                font-size: 25px;
            }
            @media (max-width:367px) {
                font-size: 20px;
            }

        }
        p{
            a{


            color: rgb(44, 168, 91);
            font-size: 20px;
            font-weight: 600;
            @media (max-width:420px) {
                font-size: 18px;
            }
            @media (max-width:367px) {
                font-size: 16px;
            }
        }
        }
        .phoneInfo{

            color: rgb(44, 168, 91);
            font-size: 16px;
            font-weight: 600;
            @media (max-width:420px) {
                font-size: 14px;
            }
            @media (max-width:367px) {
                font-size: 12px;
            }
        }
    }

    .headerIcon{
        display: flex;
        align-items: center;
        gap: 25px;
    }

    .headerCart{
        button{
            background-color: inherit;
            border: 0;
            cursor: pointer;
            .shoppingCart{
                color: #ff8a05;
                transition: 0.5s;
                &:hover{
                    color: #ca6f07;
                }
            }
            a{
                position: relative;
                text-decoration: none;
                color: #000;
                span{
                    border-radius: 10px;
                    font-size: 16px;
                    padding: 2px;
                    color: rgb(44, 168, 91);
                    font-weight: 700;
                    position: absolute;
                    right: -4px;
                    top:-41px
                }
            }

        }

    }
}
