.product{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.productList{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 20px 0;
}

#searchInput{
    margin: 10px 0;
}